In [ ]:
import pandas as pd

In [ ]:
admissions = pd.read_csv('admission.csv')

In [ ]:
admissions.dtypes

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding               bool
faculty_child          bool
legacy_child           bool
sending_ms_id         int64
dtype: object

In [ ]:
admissions

,admission_id,grad_year,gender,ethnicity,entry_grade,FA status,incoming_testing,incoming_gpa,boarding,faculty_child,legacy_child,sending_ms_id
0,15091,2022,F,European American (Caucasian),9,0,0,9.7895,False,False,True,185
1,13432,2022,N,African American,9,0,0,9.3158,False,False,False,307
2,10274,2022,F,European American (Caucasian),7,0,0,9.7294,False,True,False,203
3,10368,2022,F,Middle Eastern American,7,0,0,9.3797,False,False,False,203
4,17420,2022,M,Multiracial American,9,1,0,9.7000,False,False,False,214
...,...,...,...,...,...,...,...,...,...,...,...,...
559,10549,2019,M,Multiracial American,11,1,5,10.5600,False,False,False,264
560,10082,2019,M,European American (Caucasian),9,0,5,9.9700,False,False,False,305
561,10358,2019,F,European American (Caucasian),9,0,5,10.9500,False,False,False,305
562,10191,2019,M,African American,7,0,5,10.1600,False,False,False,203
563,10057,2019,M,European American (Caucasian),7,0,5,10.6600,False,False,True,203

In [ ]:
#Converting the values object and boolean to integers
admissions['boarding'] = admissions['boarding'].replace({True: 1, False: 0})
admissions['faculty_child'] = admissions['faculty_child'].replace({True: 1, False: 0})
admissions['legacy_child'] = admissions['legacy_child'].replace({True: 1, False: 0})

admissions.to_csv("/content/admission_updated.csv", index=False)

In [ ]:
data = pd.read_csv('admission_updated.csv')

In [ ]:
data.dtypes

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object

In [ ]:
data['gender'] = data['gender'].astype(str)
data['ethnicity'] = data['ethnicity'].astype(str)

In [ ]:
data.dtypes

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object

In [ ]:
print(data.dtypes)

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object

In [ ]:
data['gender'] = data['gender'].fillna('Unknown')
data['ethnicity'] = data['ethnicity'].fillna('Unknown')

#Converting columns to str
data['gender'] = data['gender'].astype(str)
data['ethnicity'] = data['ethnicity'].astype(str)

print(data.dtypes)

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object

In [ ]:

data['gender'] = data['gender'].apply(str)
data['ethnicity'] = data['ethnicity'].apply(str)

print(data.dtypes)

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object

In [ ]:
data['gender'] = data['gender'].apply(lambda x: str(x) if x is not None else 'Unknown')
data['ethnicity'] = data['ethnicity'].apply(lambda x: str(x) if x is not None else 'Unknown')

In [ ]:
data.dtypes

admission_id          int64
grad_year             int64
gender               object
ethnicity            object
entry_grade           int64
FA status             int64
incoming_testing      int64
incoming_gpa        float64
boarding              int64
faculty_child         int64
legacy_child          int64
sending_ms_id         int64
dtype: object