In [ ]:
import pandas as pd
import numpy as np

In [ ]:
applications = pd.read_csv('applications.csv')
applications

      application_id  student_id  university_id  admitted  ed  rd
0                  1        2794         157100         1   1   0
1                  2        9799         121257         0   0   1
2                  3        2094         130794         0   1   0
3                  4        1168         167598         1   0   1
4                  5        9905         166027         0   0   1
...              ...         ...            ...       ...  ..  ..
3412            3413        2357         151306         1   0   1
3413            3414        4934         234076         0   0   1
3414            3415        9844         440828         1   0   1
3415            3416        1463         217156         0   0   1
3416            3417        3471         144050         1   0   1

[3417 rows x 6 columns]

In [ ]:
applications.isnull().sum()

application_id    0
student_id        0
university_id     0
admitted          0
ed                0
rd                0
dtype: int64

In [ ]:
applications.dtypes

application_id    int64
student_id        int64
university_id     int64
admitted          int64
ed                int64
rd                int64
dtype: object